absl-py==2.1.0
addict==2.4.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
appnope==0.1.4
astunparse==1.6.3
astutils==0.0.5
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
autopep8==2.0.4
backcall==0.2.0
blender==1.4
bpy==2.82
cached-property==1.5.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.8
cmdstanpy==1.1.0
ConfigArgParse==1.7
cvxopt==1.3.2
cycler==0.11.0
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
dd==0.4.3
debugpy==1.7.0
decorator==5.1.1
Deprecated==1.2.15
distro==1.9.0
docopt==0.6.2
entrypoints==0.4
exceptiongroup==1.2.2
extensions==0.4
fake-bpy-module==20231205
fake-bpy-module-latest==20231205
fastjsonschema==2.21.1
Flask==2.2.5
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
flatbuffers==24.3.25
fonttools==4.38.0
frozenlist==1.3.3
fvcore==0.1.5.post20221221
gast==0.4.0
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.62.3
h11==0.14.0
h5py==3.8.0
holidays==0.27.1
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
idna==3.10
imageio==2.31.2
importlib-metadata==6.7.0
importlib-resources==5.12.0
iopath==0.1.10
ipykernel==6.16.2
ipython==7.34.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==4.12.0
keras==2.11.0
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.4.4
MarkupSafe==2.1.5
marshmallow==3.19.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
mld==0.0.2
multidict==6.0.5
mypy-extensions==1.0.0
natsort==8.4.0
nba-api==1.1.13
nbformat==5.7.0
nest-asyncio==1.6.0
networkx==1.10
numpy==1.21.6
oauthlib==3.2.2
omega==0.0.11
open3d==0.17.0
openai==0.28.0
opt-einsum==3.3.0
packaging==24.0
pandas==1.3.5
parso==0.8.4
pcl==0.0.0.post1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
plotly==5.18.0
ply==3.10
polytope==0.2.3
pooch==1.8.2
portalocker==2.7.0
prompt_toolkit==3.0.48
prophet==1.1.6
proto-plus==1.24.0
protobuf==3.19.6
psutil==6.1.0
psycopg2==2.9.9
psycopg2-binary==2.8.3
ptyprocess==0.7.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pydantic==2.5.3
pydantic_core==2.14.6
pydot==2.0.0
pyflakes==3.0.1
pygame==2.6.1
pygltflib==1.16.3
Pygments==2.17.2
pyparsing==3.1.4
pyquaternion==0.9.9
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytorch3d==0.7.1
pytz==2024.2
pyvista==0.38.6
PyWavelets==1.3.0
PyYAML==6.0.1
pyzmq==26.2.0
requests==2.31.0
requests-oauthlib==2.0.0
retrying==1.3.4
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
scooby==0.7.3
seaborn==0.12.2
six==1.16.0
sniffio==1.3.1
spot==0.1a0
SQLAlchemy==2.0.36
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2021.11.2
tomli==2.0.1
torch==1.13.1
torchaudio==0.13.1
torchdata==0.5.1
torchtext==0.14.1
torchvision==0.14.1
tornado==6.2
tqdm==4.66.5
traitlets==5.9.0
tulip==1.3.0
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3==2.0.7
vtk==9.3.1
wcwidth==0.2.13
Werkzeug==2.2.3
wrapt==1.16.0
WTForms==3.0.1
xgboost==1.6.2
yacs==0.1.8
yarg==0.1.10
yarl==1.9.4
zipp==3.15.0
